*.swo
*.swp
*~
*.mk
*.pp
*.obj
*.map
*.opt
*makefile
*.launch
*.out
*.cdtbuild
*.prefs
*.userConfig.h
*.UMSATS_CDH_log.txt
*.UMSATS_COM_log.txt
*.ApplicationConfig.h

source/Debug/
source/userConfig.h
